* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .02em;
}
@media screen (min-width: 540px) {
  .container {
    padding-top: 30px;
  }
}
.container section {
  padding: 100px 50px 100px 50px;
  color: #58595b;
}
.container section h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.container section p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .02em;
  line-height: 1.7em;
}
.container section a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.container section a:hover {
  color: #58595b;
}
.container .color {
  background-color: #58c1ef;
  color: #fff;
}
.container .header {
  padding: 30px 50px 100px 50px;
}
.container .header h1 {
  font-size: 85px;
  padding-top: 10%;
}
.container .header p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .02em;
}
.container .header .nav {
  text-align: right;
}
.container .header .nav a {
  /*padding-left: 12px;*/
  letter-spacing: .03em;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 2px;
  transition: all 0.4s;
}
.container .header .nav a:hover {
  background-color: #29b0eb;
  color: inherit;
}
.container .work .grid a {
  display: inline;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s;
  /*padding: 2px;*/
  /*background-color: @theColor;*/
  /*				margin-right: 4%;
				&:last-child {
					margin-right: 0px;
				}*/
}
.container .work .grid a .box {
  width: 28%;
  border: 1px solid #d8d9da;
}
.container .work .grid a .caption {
  text-align: center;
  font-size: 13px;
  width: 28%;
}
.container .contact a {
  transition: all 0.3s;
}
.container .contact a:hover {
  color: #58c1ef;
}
.container footer {
  font-size: 12px;
  font-weight: 300;
  /*border-top: 1px double @theColor;*/
  color: #58595b;
  text-align: center;
  padding: 20px;
}
