* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .02em;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
@media (max-width: 870px) {
  .flex-row {
    flex-direction: column;
  }
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
}
@media screen (min-width: 540px) {
  .skeleton {
    padding-top: 30px;
  }
}
.skeleton section {
  padding: 100px 0;
  color: #58595B;
}
.skeleton section .container {
  padding: 0 10%;
}
.skeleton section h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.skeleton section p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .02em;
  line-height: 1.7em;
}
.skeleton section a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.skeleton section a:hover {
  color: #58595B;
}
.skeleton .color-btn {
  width: 25px;
  height: 15px;
  cursor: pointer;
  display: block;
  border-radius: 0;
  border: 1px solid white;
  display: inline;
  margin-left: 10px;
}
.skeleton .color-btn:nth-of-type(5) {
  margin-right: 5%;
}
@media (max-width: 870px) {
  .skeleton .color-btn {
    display: none;
  }
}
.skeleton #blue-btn {
  background-color: #58C1EF;
}
.skeleton #gold-btn {
  background-color: #FFCB28;
}
.skeleton #orange-btn {
  background-color: #F58967;
}
.skeleton #dark-btn {
  background-color: #386B95;
}
.skeleton #gray-btn {
  background-color: #58595B;
}
.skeleton .color {
  background-color: #58C1EF;
  color: #fff;
}
.skeleton .nav {
  background-color: #58C1EF;
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  opacity: .9;
  text-align: right;
}
.skeleton .nav a {
  /*padding-left: 12px;*/
  letter-spacing: .03em;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 2px;
  transition: all 0.4s;
  color: #fff;
  text-decoration: none;
}
.skeleton .nav a:hover {
  background-color: #29b0eb;
  color: inherit;
}
.skeleton .header {
  padding: 30px 10% 100px;
}
@media (max-width: 870px) {
  .skeleton .header {
    padding: 60px 10% 50px;
  }
}
.skeleton .header h1 {
  font-size: 65px;
  padding-top: 10%;
}
@media (min-width: 500px) {
  .skeleton .header h1 {
    font-size: 85px;
  }
}
@media (max-width: 870px) {
  .skeleton .header h1 {
    font-size: 55px;
  }
}
.skeleton .header p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .02em;
  margin-top: 10px;
}
.skeleton .work {
  padding-top: 0;
  padding-bottom: 0;
}
.skeleton .work .work-band {
  padding: 80px 4% 80px 2%;
}
@media (max-width: 870px) {
  .skeleton .work .work-band {
    padding: 50px 10%;
  }
}
.skeleton .work .work-band div {
  width: 50%;
}
@media (max-width: 870px) {
  .skeleton .work .work-band div {
    width: 100%;
  }
}
.skeleton .work .work-band div:first-of-type {
  max-width: 600px;
}
.skeleton .work .work-band img {
  width: 100%;
  max-width: 580px;
}
@media (max-width: 870px) {
  .skeleton .work .work-band img {
    width: 90%;
    margin-bottom: 10px;
  }
}
.skeleton .work .work-band .work-band-details {
  background-color: rgba(255, 255, 255, 0.9);
}
.skeleton .work .work-band .work-band-details h3 {
  font-size: 35px;
  font-weight: 900px;
  padding-bottom: 5px;
}
@media (max-width: 870px) {
  .skeleton .work .work-band .work-band-details h3 {
    font-size: 25px;
  }
}
.skeleton .work .work-band .work-band-details h4 {
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
}
.skeleton .work .work-band .work-band-details p {
  font-size: 17px;
  line-height: 1.5;
  padding: 40px 0;
}
.skeleton .work .work-band .work-band-details a {
  font-size: 17px;
  line-height: 1.5;
  text-decoration: underline;
  padding-top: 20px;
}
.skeleton .work .work-band:nth-child(even) {
  background-color: rgba(251, 248, 236, 0.8);
}
.skeleton .work .work-band:nth-child(even) .work-band-details {
  background-color: rgba(251, 248, 236, 0.8);
}
.skeleton .about p {
  margin-bottom: 20px;
}
.skeleton .about .link-btn {
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  padding: 15px 30px;
  color: #58C1EF;
  display: inline-block;
}
.skeleton .about .link-btn:first-of-type {
  margin-right: 10px;
}
.skeleton .about .link-btn:hover {
  background-color: transparent;
  color: #fff!important;
}
.skeleton .contact h3 {
  font-size: 85px;
}
.skeleton .contact a {
  transition: all 0.3s;
}
.skeleton .contact a:hover {
  color: #58C1EF;
}
.skeleton footer {
  font-size: 12px;
  font-weight: 300;
  color: #58595B;
  text-align: center;
  margin-bottom: 50px !important;
}
