@blue: #58C1EF;
@gold: #FFCB28;
@orange: #F58967;
@dark: #386B95;
@gray: #58595B;
@pink: #E91E63;
@green: #4caf50;

@theColor: @dark;

* {
	//clear
	margin: 0px;
	padding: 0px;
	
	//global
	font-family: 'Roboto', sans-serif;
	letter-spacing: .02em;
}

.flex { display:flex; }
.flex-row { 
	flex-direction: row; 
	@media(max-width: 870px){flex-direction: column;}}
.flex-column { flex-direction: column; }
.flex-center { align-items: center; }
.transition { transition: all 0.4s; }


.skeleton {
	@media screen (min-width: 540px) {
		padding-top: 30px;
	}
	section {
		padding: 100px 0;
		@media(max-width:870px){padding: 50px 0;}
		.container {
			padding: 0 10%;
		} 
		color: @gray;
		h2 {
			font-size: 35px;
			margin-bottom: 20px;
		}
		p {
			font-size: 20px;
			font-weight: 300;
			letter-spacing: .02em;
			line-height: 1.7em;
		}
		a {
			text-decoration: none;
			color: inherit;
			transition: all 0.3s;
		}
		a:hover {
			color: @gray;
		}
		
	}
	
	.color-btn {
		width: 25px;
		height: 15px;
		cursor: pointer;
		display: block;
		border-radius: 0;
		border: 1px solid white;
		display: inline;
		margin-left: 10px;
		&:nth-of-type(5){
			margin-right: 5%;
		}
		@media(max-width: 870px){
			display: none;
		}
	}

	#blue-btn { background-color: #58C1EF; }
	#gold-btn { background-color: #FFCB28; }
	#orange-btn { background-color: #F58967; }
	#dark-btn { background-color: #386B95; }
	#gray-btn { background-color: #58595B; }

	.color {
		background-color: @theColor;
		color: #fff;
		.transition();
	}

	//nav
	.nav {
		.color();
		position: fixed;
		width: 100%;
		padding: 20px 0;
		opacity: .9;
		text-align: right;
		// visibility: hidden;
		// @media (min-width: 500px) {
		// 	visibility: visible;
		// }
		a {
			/*padding-left: 12px;*/
			letter-spacing: .03em;
			font-size: 14px;
			text-transform: uppercase;
			padding: 13px;
			border-radius: 2px;
			transition: all 0.4s;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			@media (max-width:870px){
				font-size: 17px;
				&:nth-of-type(3){
					margin-right: 10px;
				}
			}
		}
		a:hover {
			background-color: darken(@theColor, 10%);
			color: inherit;
		}
	}
	//header section
	.header {
		padding: 30px 10% 100px;
		@media (max-width:870px){padding:60px 10% 50px}

		h1 {
			font-size: 65px;
			@media (min-width: 500px) {font-size: 85px;}
			@media (max-width: 870px){font-size: 55px;}
			padding-top: 10%;
		}
		p {
			font-size: 20px;
			font-weight: 300;
			letter-spacing: .02em;
			margin-top: 10px;
		}
	}
	#work {
		padding-top: 0;
		padding-bottom: 0;
		.work-band {
			padding: 80px 4% 80px 2%;
			@media(max-width: 870px){padding: 50px 10%;}
			div	{
				width: 50%;
				@media(max-width: 870px){width: 100%}
				&:first-of-type{max-width: 600px;}
			}
			img {
				width: 100%;
				max-width: 580px;
				@media(max-width: 870px){
					width: 90%;
					margin-bottom: 10px;
				}
			}
			.work-band-details {
				background-color: rgba(255,255,255,.9);
				h3 { 
					font-size: 30px; 
					font-weight: 900;
					padding-bottom: 5px;
					@media(max-width: 870px){font-size: 35px;}
				}
				h4 {
					font-size: 15px;
					font-weight: 300;
					font-style: italic;
					text-transform: uppercase;
					letter-spacing: .05em;
					color: lighten(@gray, 20%);
				}
				p {
					font-size: 17px;
					line-height: 1.5;
					padding: 40px 0;
				}
				a { 
					font-size: 15px;
					line-height: 1.5;
					letter-spacing: .04em;
					// text-decoration: underline;
					font-weight: 300;
					padding-top: 20px;
					color: lighten(@gray, 30%);
				}
			}
			&:nth-child(even){
				background-color: rgba(251,248,236,.8);
				.work-band-details {
					background-color: rgba(251,248,236,.8);
				}
			}
		}
	}

	.about {
		p {
			margin-bottom: 20px;
		}
		.link-btn {
			background-color: #fff;
			border: 1px solid #fff;
			font-weight: 600;
			padding: 15px 30px;
			color: @theColor;
			display: inline-block;
			&:first-of-type { 
				margin-right: 10px;
				@media (max-width: 870px){
					margin-bottom: 20px;
				}
			}
			@media (max-width:870px){
				width: 123px;
		    text-align: center;
			}
			&:hover {
				background-color: transparent;
				color: #fff!important;
			}
		}
	}

	#contact {
		h3 {
			font-size: 85px;
			@media(max-width:870px){font-size: 50px;}
		}
		a {
			transition: all 0.3s;
		}
		a:hover {
			color: @theColor;
		}
	}

	footer {
		font-size: 12px;
		font-weight: 300;
		color: @gray;
		text-align: center;
		margin-bottom: 50px !important;
	}

}